@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: black;
    background-color: #fffade;
}

header {
    padding: 20px;
}

h1,
p {
    margin: 0;
}

/*####################################
            MAIN SECTION 
####################################*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    padding: 25px;
    border-radius: 20px;
    background-color: #ffc4ea;
    margin-bottom: 20px;
    border: 2px solid #ffc4ea;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, .5);
}

.eas-grid {
    width: 500px;
    height: 500px;
    display: grid;
    border: 2px solid #B588A5;
    background-color: white;
}

.eas-controls {
    border: 2px solid #ffc4ea;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, .5);
    padding: 20px;
    place-items: center;
    gap: 1rem;
    background-color: #ffc4ea;
}

.color-picker {
    all: unset;
    width: 80px;
    height: 80px;
    outline: 5px solid #ffc4ea;
    outline-offset: -2px;
    border-radius: 50%;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, .5);
    overflow: hidden;
    grid-row: 1 / span 2;
}

.btn {
    width: 150px;
    height: 50px;
    border: 2px solid #d3d3d3;
    border-radius: 30px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, .5);
    background-color: #d3d3d3;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    font-weight: bold;
}

.slider-label {
    grid-column: 2 / span 3;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    grid-column: 2 / span 3;
    border-radius: 50px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, .5);
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #78cde2; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #78cde2; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }


/*####################################
            FOOTER
####################################*/

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}